{% extends 'base.html.twig' %}
{% block body %}
    {% include 'commons/_header.html.twig' %}

        <main>
            <div class="zoneBlanche"></div>
            <div class="PosRela">
                <div class="displayCenter">
                    {% for photo in galerie | slice(0,3)%}
                            <img class="photoSizeAccueil" alt="{{ photo.alt }}" src="{{ asset('asset/galerie/' ~ photo.img) }}">
                    {% endfor %}
                </div>
                <div class="accueilShowMore PosAbso"> <a>Voir toute la Galerie...</a></div>
            </div>
            <div class="zoneBlanche"></div>
        </main>

    {% include 'commons/_footer.html.twig' %}
{% endblock %}
