{% extends 'base.html.twig' %}
{% block body %}
    {% include 'commons/_header.html.twig' %}

        <main>
            <div class="zoneBlanche"></div>

            <div class="accueilGalerie">

            </div>
        </main>

    {% include 'commons/_footer.html.twig' %}
{% endblock %}
