<footer class="txtCenter">
    <a>Accueil</a>
    <div class="displaySpace footerLien">
        <a>Copyright</a>
        <a>Politique de confidentialité</a>
        <a>condition d'utilisation</a>
        <a>Contact</a>
    </div>
</footer>