{% extends 'base.html.twig' %}
{% block title %}IntraInstitut - Galerie d'image{% endblock %}
{% block body %}
    {% include 'commons/_header.html.twig' %}

    <main>
        <div class="txtCenter displayCenter formGalerie">
            {{ form(formView) }}
        </div>
    </main>

    {% include 'commons/_footer.html.twig' %}
{% endblock %}